.bluebox{
	background-color:lightblue;
	width:15%;
	margin:0 auto;
	padding:20px;
	margin-bottom:40px;
}

form{
	width:300px;
	padding-bottom:25px;
	border:1px solid black;
	margin:0 auto;
}

.form{
	text-align:center;
}

label{
	display:block;
	margin-top:20px;
	margin-bottom:5px;
}